<div class="text-center jumbotron">

    <img width="100px" src="../assets/images/burger.png" alt="Burger image" />
    <h1>Eat-Da-Burger!</h1>
</div>
<section class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <ol class="list-group list-group-flush">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{burger_name}}
                    <button class="devour btn btn-success" data-id="{{id}}">
                        DEVOUR!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-md-6 col-sm-12">
            <ol class="list-group list-group-flush">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</section>

<section class="container">

    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center">
                <h2>Add a Burger</h2>
                <form class="create-form form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" id="burger" name="name">
                    </div>

                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
                <p>Enter a burger you'd like to eat. Click the "Submit" button.</p>
            </div>
        </div>
    </div>

</section>